@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'poppins', 'serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #18181b;
  }

/* cores:
background: #18181b; 
background-calculator: #262626;
linha-verde: #13AF4D 2x;
cor da fonte da calculadora: #cbd5e1 3x;
background input calculadora: #3f3f46;
linhas da calculadora: #3f3f46;
*/

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color) !important;
}

.container{
    background-color: var(--main-bg-color) !important;
    display: flex; /*elementos ficam um lado do outro*/
    align-items: center;
    gap: 3.5rem;
    padding: 2rem;
    margin: auto;
    max-width: 100vw;
    max-height: 100vh;
    position:absolute;
    justify-content: space-around;
}

.hero-section{
    display: flex;
}

.hero-section img{
    margin: auto;
    max-width: 32vw;
    max-height: 450px;
}

/* section do formulário */
.calculator{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
    color: #f8f8fc;
    background-color: #262626;
    border-radius: 10px;
}

/* formulário de IMC */
.form-calcalator-imc{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title-calculator{
    font-size: 2.5rem;
    position: relative;
}

.title-calculator::after{
    position: absolute;
    content: '';
    background-color: #13AF4D;
    width: 10rem;
    height: 3px;
    border-radius: 3px;
    /* posicionamento do traço verde */
    bottom: 0;
    left: 10px;
}

.input-box label{
    font-size: 1.2rem;
    color: #cbd5e1;
    font-weight: 500;
}

.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    border-radius: 5px;
    margin-top: 3px;
    background-color: #3f3f46;
}

.input-field span,
.input-field i{
    color: #cbd5e1;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #cbd5e1;
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button{
    appearance: none;
}

.input-field input:focus{
    outline: none;
}

.calculate-imc{
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #13AF4D;
    color: #f8f8fc;
    height: 3rem;
    border-radius: 10px;
    cursor: pointer;
}

.result-calculator{
    display: flex;
    align-items: center;
    gap: 2rem;
    border-top: 1px solid #3f3f46;
    padding: 0.75rem 0;
}

#imc{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.5rem;
}

#imc span:last-child{
    font-size: 0.875rem;
    color: #cbd5e1;
}

#text-alert-imc{
    width: 15.5rem;
}

.more-info{
    text-align: center;
    border-top: solid 1px #3f3f46;
    padding-top: 1.5rem;
}

.more-info a{
    color: #13AF4D;
    font-size: 0.875rem;
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    transition: 1s;
}

.more-info a:hover{
    color: #cbd5e1;
}

.hidden{
    display: none;
}

.alert-good{
    color: #13AF4D;
}

.alert-attention{
    color: #e9c008;
}

.alert-dangerous{
    color: rgb(250, 74, 10);
}

.alert-terrible{
    color: #dc2626;
}


/* RESPONSIVIDADE */
@media screen and (max-width: 1024px) {
    .container{
        flex-direction: column;
        margin: auto 0.8rem;
    }   

     .container .hero-section img{
        min-width: 250px;
    } 
}

@media screen and (orientation:landscape) {
    .container{
        flex-direction: row;
        max-width: 80%;
        max-height: 80%;
    }
}
